<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>AutoChat | <%= title %>
   </title>
   <link rel="stylesheet" href="/styles.css">
</head>

<body>
   <nav>
      <div>
         <h1><a href="/">AutoChat</a></h1>
      </div>
      <div>
         <a class="white-hover" href="logout">Log Out</a>
      </div>
   </nav>